@import "./variables";

.cuidados {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    text-align: center;
    border: 1 rem;
    background-image: radial-gradient(circle, rgba(0,0,0,0.29735644257703087) 0%, rgba(0,0,0,0.4430147058823529) 100%);
    height: 46rem;
    width: 100%;

    &-kenburns-top {
        -webkit-animation: kenburns-top 5s ease-out both;
        animation: kenburns-top 5s ease-out both;
    }

    &__title {
        font-size: 8rem;
        transform: rotateX(51deg);
        font-style: italic;
        font-weight: 700;
        color: $--accent;
        margin-top: 3rem;
        text-decoration-line: underline;
        letter-spacing: 0.02em;
    }

    &_p {
        transform: rotateX(45deg);
        color: $--accent;
        margin-top: 0;
        margin-left: 38rem;
        width: 67rem;
        font-size: large;
    }
    
    
}

.imginfo {
    margin: 1rem;
}