@import "./variables";

.info {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;

    &_section {
        margin-left: 10rem;
        width: 58rem;
    }
    
    &-jpg {
        max-width: 571px;
        padding: 0rem;
    }
    
    &__anillo {
        font-style: oblique;
        font-weight: lighter;
        
        }

    }